.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body { 
    font-family: 'Raleway', sans-serif;
    background-image: url("./images/bg-desktop.png");
    background-repeat: no-repeat;
    background-position: 0px 340px;
}

.hl-1 { color:hsl(229, 7%, 55%) }
.hl-2, .hl-3 { color: hsl(243, 100%, 93%); }

body, .icon, .bar-1 { background-color:hsl(229, 57%, 11%); }

.container { margin: 250px 250px;}

.fylo, .status { background-color:hsl(228, 56%, 26%);}

.fylo { 
    position: absolute;
    background-image: url("./images/logo.svg");
    background-repeat: no-repeat;
    background-position: 40px 40px;
    border-radius: 10px 100px 10px 10px;
    background-color:hsl(228, 56%, 26%);
    width: 350px;
    height: 200px;
}

.icon {
    border-radius: 10px;
    margin: 10px 10px;
    float: left;
    width: 45px;
    height: 45px;
    position: absolute;
}

.icon img { position: absolute; display: block; bottom: 12px; right: 12px;}

.ic-1 { margin: 110px 0px 0px 40px; }
.ic-2 { margin: 110px 0px 0px 100px; }
.ic-3 { margin: 110px 0px 0px 160px;}

.status {
    position: absolute;
    margin-left: 382px;
    border-radius: 15px;
    width: 535px;
    height: 160px;
}

.bar-1 {
    position: absolute;
    margin: 75px 0px 0px 38px;
    border-radius: 8px;
    width: 455px;
    height: 20px;
}

.bar-2 {
    position: absolute;
    margin-top: 3px;
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 8px;
    width: 342px;
    height: 14px;
}

.ball {
    background-color: hsl(243, 100%, 93%);
    margin-top: 1px;
    margin-left: 328px;
    border-radius: 6px;
    width: 12px;
    height: 12px;
}

.hl-1 {
    margin: 45px 0px 0px 34px;
    position: absolute;
    font-weight: 400;
    font-size: 14px;
}

.hl-2 { position: absolute; }

.hl-3, .hl-2 {
    font-weight: 700;
    font-size: 14px;}

.hl2-1 { margin: 105px 0px 0px 34px;}
.hl2-2 { margin: 105px 0px 0px 410px;}
